:root {
    --main-white: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}


* {
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    max-width: 1440px;
    min-width: 375px;
    box-sizing: inherit;
    font-size: 1rem;
}

body {
    font-family: outfit,sans-serif;
    background-color: var(--Light-gray);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.container {
    width: 250px;
    background-color: var(--main-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
}

.container img {
    width: 240px;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.container h3 {
    color: var(--Dark-blue);
    text-align: center;
    margin: 10px;
    font-weight: 700;
}

.container p {
    color: var(--Grayish-blue);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: 10px 10px 15px 10px;
}

footer {
    max-width: 1440px;
    position: fixed;
    bottom: 50px;
    right: 0;
    left: 0;
}

